<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a7159355c658213192044cdf15f3cd3b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@main/folium/templates/leaflet_heat.min.js"></script>
</head>
<body>
    
    
            <div class="folium-map" id="map_a7159355c658213192044cdf15f3cd3b" ></div>
        
</body>
<script>
    
    
            var map_a7159355c658213192044cdf15f3cd3b = L.map(
                "map_a7159355c658213192044cdf15f3cd3b",
                {
                    center: [19.7515, 75.7139],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f97d2d1f1381ccb5eb0f4bd03d237d7a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a7159355c658213192044cdf15f3cd3b);
        
    
            var heat_map_a48ce8e42d4cca6a42f1eb0619b64df4 = L.heatLayer(
                [[19.076, 72.8777, 170], [18.5204, 73.8567, 75], [21.1458, 79.0882, 91], [19.2183, 72.9781, 41], [20.5937, 73.7636, 71], [19.8762, 75.3433, 36], [17.6599, 75.9064, 20], [20.9374, 77.7796, 26], [19.033, 73.0297, 56], [16.705, 74.2433, 49], [20.7096, 77.0219, 36], [18.4088, 76.5604, 58], [21.1458, 75.8011, 38], [16.9944, 73.3002, 14], [19.0946, 74.7384, 78], [19.9595, 79.2968, 33], [17.6868, 74.0008, 59], [20.9016, 74.7774, 27], [16.8524, 74.5815, 60], [19.1383, 77.3206, 58], [19.839, 75.8824, 38], [18.9894, 75.7541, 58], [20.5379, 76.1801, 40], [20.3888, 78.1204, 59]],
                {"blur": 15, "maxZoom": 18, "minOpacity": 0.5, "radius": 25}
            ).addTo(map_a7159355c658213192044cdf15f3cd3b);
        
</script>
</html>